<div class="alert alert-success alert-dismissable" *ngIf="alertMsg">
  <a href="#" class="close" (click)="closeAlert()">&times;</a>
  {{ alertMsg }}
</div>

<div class="container">

  <br>
  <h1 class="display-4"> {{ title }} </h1>
  <p class="lead">¡Tu lugar para crear, editar y guardar tus archivos XML de Lenguaje!</p>
  <hr>
  
  <form>
    <div class="input-group half-div" id="search">
      <span class="input-group-addon glyphicon glyphicon-search" id="search-icon"></span>
      <input (keyup)="searchFilter($event)" id="search-input" type="text"  class="form-control" placeholder="Buscar" aria-describedby="search-icon">
    </div>
    <button type="button" (click)="addRow()">Add</button>
  </form>
  <table class="table table-stripped" >
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Etiqueta </th>
        <th scope="col">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of labels; let index = index">
          <th scope="row">{{index + 1}}</th>
          <td>{{item.key}}</td>
        <td>
          <input [value]="item.value" [(ngModel)]="item.value" type="text" class="form-control" placeholder="Ingresa el término...">
          <button type="button" (click)="deleteLabel(item.idlabel)">Delete</button>
          <button type="button" (click)="createOrEditLabel(item)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>

</div>
