.jumbotron{
  background-color: #e5efff !important;
}

.btn-guardar{
  position: sticky;
  top: 10px;
  left: 100%;
  z-index: 2;
}

.half-div{
  width: 50%;
  float: left;
}

#search-input{
  width: 70%;
}

input{
  color: black !important;
}

body{
  padding-bottom: 50px;
  z-index: 1;
}